* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  margin: 0;
  background-color: lightgrey;
}
.header {
  background-color: silver;
  text-align: left;
  overflow: hidden;
  vertical-align: middle;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1em;
  font-size: 2.5rem;
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.header img {
  width: 50px;
  height: auto;
  margin: 10px;
}
h2 {
  text-align: left;
  font-family: sans-serif;
}
.imgMenu {
  float: left;
}
.imgPara {
  float: right;
}
.imgSearch {
  float: right;
}
.imgHelp {
  float: right;
}
.imgAccount {
  float: right;
}

.main {
  background-color: white;
}
