/*************************** GENERALITES *****************************/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  margin: 0;
}

/***************************** HEADER *********************************/

.header {
  background-color: bisque;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 1em;
  text-align: center;
}

/***************************** FOOTER *********************************/

.footer {
  background-color: bisque;
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.5);
  padding: 1em;
  text-align: center;
}

/*************************** BLOG PAGE *********************************/

.content {
  display: flex;
  gap: 2em;
  justify-content: center;
  padding: 1em;
}

.content article {
  background-color: bisque;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding: 1em;
}
