body {
    margin: 16px;
}
.grid {
    display: grid;
    gap: 16px;
    grid-template-rows: repeat(9, 100px);
    grid-template-columns: repeat(4, 100px);
}

.box {
    border: 2px solid orange;
    background-color: wheat;
}

/* Exemple 1 : les éléments sont positionnés entre les bordures spécifiées */
.box1 {
    background-color: sandybrown;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.box2 {
    background-color: purple;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}
.box3{
    background-color: darkgoldenrod;
}
.box4 {
    background-color: magenta;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 5;
}
.box5 {
    background-color: darkred;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}
.box6{
     background-color: royalblue;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
}
.box7{
     background-color: royalblue;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
}
.box8{
     background-color: darkblue;
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
}
.box9{
     background-color: darkslateblue;
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 2;
    grid-column-end: 4;
}
.box10{
    background-color: indigo;
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 2;
}
.box11{
     background-color: gold;
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 2;
}
.box12{
    background-color: green;
    grid-row-start: 8;
    grid-row-end: -1;
    grid-column-start: 4;
    grid-column-end: 5;
}
.box13{
    background-color: red;
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 3;
    grid-column-end: 5;
}
.box14{
    background-color: yellow;
    grid-row-start: 9;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 3;
}
.box16{
    background-color: turquoise;
    grid-row-start: 9;
    grid-row-end: -1;
    grid-column-start: 3;
    grid-column-end: 4;
}
.box15{
    background-color: lightseagreen;
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 4;
    grid-column-end: 5;
}
