
html{
    font-size: 62.5%
}
body {
    margin: 0px;
    font-size: 16px;
}

.box {
     background-color: wheat;
     border: 2px solid orange;
     width: 20%;
     flex: 1 0 20%; 
     height: 25%; 
     display: flex;
     justify-content: center;
     align-items: center;
}

.flex {
     display: flex;
     flex-wrap: wrap; 
     width: 100vw; 
     height: 100vh;
     gap:1em;
     background-color:red;
}