* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;/* Passer de 16px à 10px */
}

body {
    font-size: 16px;/* On remet à 16px qui est la valeur par défaut */
    margin: 0;
}

.box a {
    color: green;
    text-decoration: none;
}

/* Curseur souris au dessus */
.box a:hover {
    color: lime;
    background-color: black;
}

/* Bouton souris enfoncé */
.box a:active {
    color: yellow;
}

/* L'utilisateur a déjà cliqué sur le lien */
.box a:visited {
    color: grey;
}
