/* Commun */
body {
    margin: 16px;
}

.box {
     background-color: wheat;
     color: white;
     text-align: center;
     border: 2px solid orange;
}

.flex {
     display: flex;
     justify-content: space-around; 
     align-items: center; 
     height: 50vh; 
     width: 100%;
     background-color: salmon;
}