* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    margin: 0;
}
nav {
    width: 100%;
    position: relative;
    top: 0;
}
nav > ul {
    display: flex;
    text-align: center;
    height: 3em;
}
nav ul{
    list-style-type: none;
}
nav > ul > li {
    background-color: green;
    position: relative;
    height: 100%;
    flex: 1;
}
nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
li a {
    text-decoration: none;
    color: white;
}
.menu-deroulant > a:after{
    content: ">";
    display: inline-block;
    font-size: 1em;
    margin-left:0.5em;
}
.sous-menu{
    margin-top: 1em;
    width:100%;
    text-align: left;
    background-color: lightgreen;
    overflow: hidden;
    max-height: 0;
}
nav > ul > li:hover{
    background-color: seagreen;
    position: relative;
    height:100%;
    flex: 1;
}
.sous-menu > li:hover{
    background-color: lightgreen;
}
@keyframes apparitionSousMenu{
    0%{
        border-top 0.3em solid lightgreen;
    }
    100%{
        max-height:50em;
        border-top : 0.3em solid lightgreen;
    }
}
.menu-deroulant:hover > .sous-menu{
    animation: apparitionSousMenu 1s forwards;
}