body {
    margin: 16px;
}
.grid {
    display: grid;
    gap: 16px;
    grid-template-rows: repeat(9, 100px);
    grid-template-columns: repeat(4, 100px);
}

.box {
    border: 2px solid orange;
    background-color: wheat;
}

/* Exemple 1 : les éléments sont positionnés entre les bordures spécifiées */
.box1 {
    background-color: navy;
    grid-row-start: 1;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 4;
}