* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 16px;
  margin: 0px;
}

/************************************** HEADER ********************************/

.header {
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: lightgrey;
}

.header h1 {
    margin: 0;
    padding: 0;
}

.header div {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 10px;
}

.header img {
    height: 100%;
    width: 100%;
}
.right-icon {
    float: right;
}
.left-icon, .left-text {
    float: left;
}
.left-text {
    width: auto;
    font-family: sans-serif;
    font-size: 1.9rem;
}

div.messagebar {
    display: none;
    position: absolute;
    right: 0px;
    top: 60px;
    width: 200px;
    height: auto;
    padding: 1em;
    background-color: green;
    color: white;
}

/******************************** FOOTER **************************************/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 1.25em;
}

/********************************* MAIN ***************************************/
.main {
    margin-top: 3.75em;
    margin-bottom: 3.75em;
}

.left-panel {
    position: fixed;
    width: 150px;
    height: 100%;
    background-color: #EFEFEF;
}
.left-panel ul {
    padding: 0;
    list-style-type: none;
}
.left-panel li a {
    display: block;
    width: 100%;
    padding: 0.625em;
    text-align: center;
    color: inherit;
    text-decoration: none;
}
.left-panel a:hover {
    background-color: lightgrey;
}

.main .content {
    margin-left: 150px;
    padding: 1.25em;
}

.menu:hover .sous-menu {
    display: block;
}
.sous-menu {
    display: none;
    padding: 0px;
    margin: 0px;
    border: 1px solid grey;
    width: 200px;
}
.sous-menu li {
    padding: 0.625em 1.25em;
    display: block;
    background-color: lightgrey;
    border-bottom: 1px solid grey;
}
.sous-menu li:hover {
    background-color: #EFEFEF;
    cursor: pointer;
}
.my-account:hover div.my-account-panel {
    display: block;
}
div.my-account-panel {
    display: none;
    position: absolute;
    top: 50px;
    right: 0px;
    height: auto;
    width: 200px;
    padding: 1.25em;
    background-color: #EFEFEF;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%), 0px 2px 6px 2px rgb(60 64 67 / 15%);
}
div.my-account-panel > div {
    width: 100%;
    padding: 0.625em 0px;
    text-align: center;
}
div.my-account-panel button {
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
}
div.my-account-panel .picture {
    width: 40px;
    height: 40px;
}
.popup-help {
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: rgba(22,22,22,0.5);
    display: none;
}
.popup-help .popup {
    position: relative;
    top: 25%;
    margin: 0 auto;
    width: 75%;
    height: 50%;
    background-color: #EFEFEF;
    border-radius: 8px;
    padding: 1.25em;
}

.popup-help .content {
    overflow: auto;
    height: 100%;
}

.popup-help .close-button {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 4px;
    top: 2px;
    text-decoration: none;
    color: grey;
    cursor: pointer;
}

.popup-help .content span {
    font-weight: bold;
}
